@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);
  --clr-overlay: rgba(0, 0, 0, 0.7);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  height: 0;
  width: 0;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  max-width: 64rem;
  margin: 1rem auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0.6rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: none;
  list-style: none;
}

.nav[aria-expanded="true"] .nav__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-off-white);
  top: 0;
  right: 0;
  height: 100%;
  width: 65%;
  padding: 5rem 1rem;
}

.nav[aria-expanded="true"] .nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-overlay);
}

.nav__item > .item__link:hover {
  color: var(--clr-soft-red);
  cursor: pointer;
}

.nav__item {
  margin: 0.6rem 0;
}

.nav__item > a {
  text-decoration: none;
  color: var(--clr-very-dark-blue);
}

.nav__btn {
  background: transparent;
  border: none;
  z-index: 1;
}

.nav__btn:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.main {
  margin: 1rem 0.6rem;
}

.web3 {
  margin: 2rem 0;
}

.web3__title {
  font-weight: 800;
  font-size: 3rem;
  margin: 0.6rem 0;
}

.web3__text {
  font-weight: 400;
  color: var(--clr-dark-grayish-blue);
  margin-bottom: 1.2rem;
  line-height: 1.5;
}

.web3__btn {
  background: var(--clr-soft-red);
  font-weight: 700;
  font-size: 1rem;
  padding: 0.6rem 0;
  border: none;
  width: 40%;
}

.web3__btn:hover {
  background: var(--clr-very-dark-blue);
  color: var(--clr-off-white);
  cursor: pointer;
}

.news {
  background: var(--clr-very-dark-blue);
  padding: 1.2rem 1rem;
  margin-bottom: 1.5rem;
}

.news__title {
  color: var(--clr-soft-orange);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.news__item {
  color: var(--clr-off-white);
}

.news__item:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 0.01rem solid var(--clr-off-white);
  margin-bottom: 1.5rem;
}

.news__item-title {
  margin-bottom: 1rem;
}

.news__item-text {
  color: var(--clr-dark-grayish-blue);
  font-weight: 400;
  line-height: 1.5;
}

.tech {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tech__item {
  display: flex;
  gap: 1.5rem;
}

.tech__img {
  width: 6.25rem;
  height: 7.5rem;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.tech__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0.6rem;
}

.tech__number {
  font-size: 2rem;
  color: var(--clr-soft-red);
  font-weight: 700;
}

.tech__title {
  font-size: 1.2rem;
  font-weight: 800;
}

.tech__title:hover {
  cursor: pointer;
  color: var(--clr-soft-red);
}

.tech__text {
  font-weight: 400;
  color: var(--clr-dark-grayish-blue);
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 0.6rem 0;
}

.attribution a {
  color: var(--clr-soft-orange);
  text-decoration: none;
  font-weight: 700;
}

.attribution a:hover {
  color: var(--clr-soft-red);
}

@media (min-width: 46.875rem) {
  .web3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }
  .nav__list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding: 0;
    gap: 1.5rem;
  }
  .nav__btn {
    display: none;
  }

  .tech {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .tech__item--3 {
    grid-column: 1/-1;
    justify-self: center;
  }
}

@media (min-width: 64rem) {
  .main {
    display: grid;
    grid-template-areas:
      "web3-picture web3-picture news"
      "web3 web3 news"
      "tech tech tech";
    gap: 1rem;
  }
  .web3-picture {
    grid-area: web3-picture;
  }
  .web3 {
    grid-area: web3;
    gap: 1rem;
  }
  .news {
    grid-area: news;
  }
  .tech {
    grid-area: tech;
  }
  .tech {
    grid-template-columns: repeat(3, 1fr);
  }
  .tech__item--3 {
    grid-column: auto;
  }
}
